@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

:root{
    --brown:#a8a29e;
}

body{
    font-family: 'Yeon Sung', cursive;
    max-width: 80%;
    width: 100%;
    margin: 0px auto;
     
}


h1{
    text-align: center;
}

.navigation{
    background-color: var(--brown);
    padding: 1rem;
    border-bottom-left-radius: 0.5rem;
   
}


.main{
    background-image: url("images/grootpng.png");
    background-repeat: no-repeat;
    background-size: 350px;
    height: 330px;
    background-blend-mode: lighten;
}
    .container-center{
       padding: 1rem 0rem; 
    }

    .main{
    max-width: 900px;
    margin: auto;
    text-align: center;
}
#output{
    display: block;
    padding: 1rem;
    margin: auto;
    width: 60%;
    height:10vh;
    border-radius: 0.4rem;
}



#txt-input{

        border: 1px solid green;
        padding: 1rem;
        margin: 1rem;
        height: 10vh;
        width: 60%;
        border-radius: 0.4rem;
}


h3{
    text-align: center;
}

footer{
    padding: 1rem 1rem;
    margin: auto;
    background-color: var(--brown);
    border-top-right-radius: 0.5rem;
}

#btn-translate{
    text-align: center;
    display: flex;
    margin:auto;
    border-radius: 1rem;
    padding:0.6rem 1.5rem;
    font-family: 'Yeon Sung', cursive;
    background-color: var(--brown);
}

